body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/preindeximg.jpg");

  /* Set a specific height */
  width: 100%;
  height: 100%;
  margin: 0px auto;


  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

h1{
  font-style: oblique;
  font-size: 50px;
}
/*
.preindexbutton {
  font-size:15px;
  font-family:Arial;
  width:340px;
  height:170px;
  border-width:1px;
  color:#666666;
  border-color:#dcdcdc;
  font-weight:bold;
  border-top-left-radius:6px;
  border-top-right-radius:6px;
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  text-shadow:inset 0px 1px 0px #ffffff;
  background:linear-gradient(#f9f9f9, #e9e9e9);
}

.preindexbutton:hover {
  background: linear-gradient(#e9e9e9, #f9f9f9);
}
*/
.button {
  background-color:transparent;
  background-repeat: no-repeat;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.preindexbutton {
  background-color: transparent;
  color: white;
  border: 2px solid #e7e7e7;
  display: inline-block;
}

.prequote{
  font-style: italic;
  font-size: 10;
  background-color: rgba(119, 119, 119, 0.20);
  display: block;
  padding: 3px;
  outline: 2px;
  margin-bottom: 15px;
}

.preindexbutton a:link,.preindexbutton a:visited{
  text-decoration: none;
  color:white;
  display: block;
}

.preindexbutton:hover{
  /*background-color: rgba(169, 169, 169, .1); */
  background: rgb(2,0,36);
  background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(221,221,221,0.25003504819896705) 50%, rgba(255,255,255,1) 100%);
}

.cright{
  text-align: center;
  position: absolute;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  display: block;
  left: 45%;
  bottom: 5px;
}
